[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"

[packages]
invenio-app-rdm = {version = "~=14.0.0b1.dev3", extras = ["opensearch2"]}
invenio-checks = ">=2.0.0,<3.0.0"
invenio-collections = "==1.1.0" # see https://github.com/inveniosoftware/invenio-app-rdm/issues/3194
invenio-vocabularies = {version=">=9.0.0,<10.0.0", extras = ["s3fs"]}
invenio-preservation-sync = "==0.2.0"
invenio-cern-sync = {git = "https://github.com/cerndocumentserver/invenio-cern-sync.git", ref = "v0.3.0"}
cds-rdm = {editable=true, path="./site"}
sentry-sdk = ">=1.45,<2.0.0"
lxml = ">=4.6.5"
ipython = "!=8.1.0"
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"
flask-mail = ">=0.9.0,<0.10.0"
pyinstrument = "5.0.0,<6"
sqltap = "0.3.11,<1.0.0"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
