[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"

[packages]
invenio-app-rdm = {version = "~=12.0.0b3.dev7", extras = ["opensearch2"]}
invenio-logging = {extras = ["sentry_sdk"], version = "~=2.0"}
cds-rdm = {editable="True", path="./site"}
# Re-enable when the pycountry dependency is updated
#cds-dojson = {git = "https://github.com/CERNDocumentServer/cds-dojson", ref = "rdm"}
#jsonschema = ">=4.17.0,<4.18.0" # due to compatibility issues with alpha
#invenio-rdm-migrator = "==1.0.0a14"
lxml = ">=4.6.5"
ipython = "!=8.1.0"
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
