.ep-step-group .step .content {
  flex: 1;
}

.ep-step-group .step::after {
  display: none !important;
}

.ep-step-group .step::before {
  width: 30px;
}

.ep-action-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  column-gap: 5px;
}

.ep-action-step .description {
  font-size: 1em !important;
}
