{% set committee_request = notification.context.request %}
{% set record = committee_request.topic %}
{% set request_id = committee_request.id %}
{% set record_title = record.metadata.title %}
{% set report_number = committee_request.title | replace('Committee approval for "', '') | replace('"', '') %}
{% if recipient.data.profile is defined and recipient.data.profile.full_name %}
  {% set recipient_full_name = recipient.data.profile.full_name %}
{% else %}
  {% set recipient_full_name = recipient.data.name %}
{% endif %}
{% set help_url = config.CDS_SERVICE_ELEMENT_URL %}
{% set request_link = "{ui}/me/requests/{id}".format(
    ui=config.SITE_UI_URL, id=request_id
    )
%}
{% set record_link = "{ui}/records/{id}".format(
    ui=config.SITE_UI_URL, id=record.id
    )
%}
{% set account_settings_link = "{ui}/account/settings/notifications".format(
    ui=config.SITE_UI_URL
    )
%}

{%- block subject -%}
    [CDS] {{ _("Request for committee approval of '{record_title}'").format(record_title=record_title) }}
{%- endblock subject -%}

{%- block html_body -%}
    <table style="font-family:'Lato',Helvetica,Arial,sans-serif;border-spacing:15px">
        <tr>
            <td>{{ _("Dear {recipient}").format(recipient=recipient_full_name) }},
            </td>
        </tr>
        <tr>
            <td>
                {{ _("A new committee approval request has been submitted for the following document:") }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>{{ _("Title:") }}</strong> {{ record_title }}<br>
                <strong>{{ _("Record:") }}</strong> <a href="{{ record_link }}">{{ record_link }}</a>
            </td>
        </tr>
        <tr>
            <td>{{ _("Please review the document and register your decision at the link below.") }}</td>
        </tr>
        <tr>
            <td><a href="{{ request_link }}">{{ _("Review the approval request") }}</a></td>
        </tr>
        <tr>
            <td>
                {{ _("Best regards") }},<br>
                --<br>
                CERN Document Server <a href="{{ config.SITE_UI_URL }}">{{ config.SITE_UI_URL }}</a><br>
                {{ _("Need help?") }} <a href="{{ help_url }}">{{ help_url }}</a>
            </td>
        </tr>
        <tr>
            <td style="font-size:smaller">{{ _("This is an auto-generated message. To manage notifications, visit your") }} <a href="{{ account_settings_link }}">{{ _("account settings") }}</a>.</td>
        </tr>
    </table>
{%- endblock html_body %}

{%- block plain_body -%}
{{ _("Dear {recipient}").format(recipient=recipient_full_name) }},

{{ _("A new committee approval request has been submitted for the following document:") }}

{{ _("Title:") }} {{ record_title }}
{{ _("Record:") }} {{ record_link }}

{{ _("Please review the document and register your decision at the link below.") }}

{{ _("Review the approval request:") }} {{ request_link }}

{{ _("Best regards") }},
--
CERN Document Server {{ config.SITE_UI_URL }}
{{ _("Need help? {help_url}").format(help_url=help_url) }}

{{ _("This is an auto-generated message. To manage notifications, visit your account settings {account_settings_link}.").format(account_settings_link=account_settings_link) }}
{%- endblock plain_body %}

{%- block md_body -%}
{{ _("Dear {recipient}").format(recipient=recipient_full_name) }},

{{ _("A new committee approval request has been submitted for the following document:") }}

**{{ _("Title:") }}** {{ record_title }}
**{{ _("Record:") }}** {{ record_link }}

{{ _("Please review the document and register your decision at the link below.") }}

{{ _("Review the approval request:") }} {{ request_link }}

{{ _("Best regards") }},
--
CERN Document Server {{ config.SITE_UI_URL }}
{{ _("Need help? {help_url}").format(help_url=help_url) }}

{{ _("This is an auto-generated message. To manage notifications, visit your account settings {account_settings_link}.").format(account_settings_link=account_settings_link) }}
{%- endblock md_body -%}
