{% set _invitation_request = notification.context.request %}
{% set _community = _invitation_request.created_by %}
{% set request_id = _invitation_request.id %}
{% set recipient_full_name = recipient.data.profile.full_name %}
{% set community_title = _community.metadata.title %}
{% set help_url = config.CDS_SERVICE_ELEMENT_URL %}
{% set message = notification.context.message | safe if notification.context.message else '' %}
{% set role = notification.context.role %}

{# TODO: use request.links.self_html when issue issue is resolved: https://github.com/inveniosoftware/invenio-rdm-records/issues/1327 #}
{% set request_link = "{ui}/me/requests/{id}".format(
    ui=config.SITE_UI_URL, id=request_id
    )
%}
{% set account_settings_link = "{ui}/account/settings/notifications".format(
    ui=config.SITE_UI_URL
    )
%}

{%- block subject -%}
[CDS] New invitation to join community "{{ community_title }}" as "{{ role }}"
{%- endblock subject -%}

{%- block html_body -%}
<p>Dear {{ recipient_full_name }},</p>

<p>You have been invited to join community &quot;{{community_title}}&quot; as &quot;{{role}}&quot;.</p>

{%- if message %}
<p>
  Invitation message:
  {{ message }}
</p>
{%- endif %}

<p>You can access the invitation here: <a href="{{ request_link }}">{{ request_link }}</a></p>

Best regards,<br>
--<br>
CERN Document Server <a href="{{ config.SITE_UI_URL }}">{{ config.SITE_UI_URL }}</a><br>
Need help? <a href="{{ help_url }}">{{ help_url }}</a></p>

<br>
<p>This is an auto-generated message. To manage notifications, visit your <a href="{{account_settings_link}}">{{ _("account settings")}}</a></p>
{%- endblock html_body -%}

{%- block plain_body -%}
Dear {{ recipient_full_name }},

You have been invited to join community "{{ community_title }}" as "{{ role }}".

{%- if message %}

Invitation message:
{{ message }}

{%- endif %}

You can access the invitation request here: <{{ request_link }}>

Best regards,
--
CERN Document Server <{{ config.SITE_UI_URL }}>
Need help? <{{ help_url }}>

This is an auto-generated message. To manage notifications, visit your account settings <{{ account_settings_link }}>.
{%- endblock plain_body %}

{# Markdown for Slack/Mattermost/chat #}
{%- block md_body -%}
Dear {{ recipient_full_name }},

You have been invited to join community *{{ community_title }}* as *{{ role }}*.

{%- if message %}

Invitation message:
{{ message }}

{%- endif %}

You can access the invitation request here: <{{ request_link }}>

Best regards,
--
CERN Document Server <{{ config.SITE_UI_URL }}>
Need help? <{{ help_url }}>

This is an auto-generated message. To manage notifications, visit your account settings <{{ account_settings_link }}>.
{%- endblock md_body %}
